// Flexbox

@mixin flexible-row() {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
@mixin flexible-column() {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

@mixin flex-justify-space-between() {
    justify-content: space-between;
}

// Transitions

@mixin transition() {
    transition: all 0.3s ease 0s;
}

