:root {
	--yellow: #ffc600;
	--black: #272727;
	--white: #fff;
	--light-bg: #F7F8FA;
	--dark-bg: #171717;
	--header-footer-bg: #0f0f14;
}

html {
	box-sizing: border-box;
	font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: 400;
	font-size: 10px;
	color: var(--black);
	margin: 0;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-size: 2rem;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}